modules = ["nodejs-20", "python-3.12", "nix"]
[agent]
expertMode = true
stack = "BEST_EFFORT_FALLBACK"

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node psycho.js"

[userenv]

[userenv.shared]
LAVALINK_NODE_NAME = "Node1"
LAVALINK_URL = "lavalink.jirayu.net"
LAVALINK_AUTH = "youshallnotpass"
LAVALINK_SECURE = "True"
BG_URL = "https://cdn.discordapp.com/attachments/1501196944314208436/1510325736735772722/883417dbaf35318a48faf1c965dd8966.webp?ex=6a1c67f4&is=6a1b1674&hm=b796974cc03de76ec192edc80552c372a2aab161bc18737a4d98f0077adba193&"
NODE_SOURCE = "ytmsearch"
BOT_PREFIX = "+"
LAVALINK_NODE_1_NAME = "Private Node"
LAVALINK_NODE_1_URL = "13.53.96.71:25566"
LAVALINK_NODE_1_AUTH = "youshallnotpass"
LAVALINK_NODE_1_SECURE = "false"
LAVALINK_NODE_2_NAME = "Node 2"
LAVALINK_NODE_2_URL = "lavalinkv4.serenetia.com:443"
LAVALINK_NODE_2_AUTH = "https://seretia.link/discord"
LAVALINK_NODE_2_SECURE = "true"

[[ports]]
localPort = 3000
externalPort = 80
